* {
    margin: 0;
}

body {
    font-family: 'Roboto Slab', serif;
    color: #000;
}

button {
    font-family: 'Roboto Slab', serif;
    color: #484343
}

.navbar {
    flex-direction: column;
    height: 60px;
    background-color: #F689AA;
    align-items: end;

}

.navbar__content {
    display: flex;
    max-width: 900px;
    height: inherit;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.navbar__content__heading {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: aliceblue;
    cursor: pointer;
}

.navbar__content__heading > h1 {

}

.navbar__content__clickable {
    display: flex;
    align-items: center;
}

.navbar__content__clickable__dots {
    width: 25px;
    height: 25px;
    margin-right: 14px;
    cursor: pointer;
    transition: 0.1s;
}

.navbar__content__clickable__dots:hover {
    transform: scale(1.2);
    transition: 0.1s;
}

.navbar__content__clickable__dots > img {
    width: inherit;
}

.navbar__content__clickable__profile-pic {
    width: 40px;
    height: 40px;
    background-color: #a2245b;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.1s;
}

.navbar__content__clickable__profile-pic:hover {
    transform: scale(1.2);
    transition: 0.1s;
}

.task-list {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    height: 100px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

.task-list__categories {
    display: flex;
    flex-direction: column;
    width: 45px;
}

.task-list__categories__category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin-bottom: 8px;
    background-color: #F6EBEB;
    border-radius: 12px;
    transition: 0.2s;
}

.task-list__categories__category:hover {
   transform: scale(1.2);
    transition: 0.2s;
}

.task-list__categories > div > img, .task-list__categories__category > img {
    width: 25px;
}

.task-list__tasks {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 1200px;
    margin: 0 20px 0 20px;
    padding-top: 10px;
    background-color: #F6EBEB;
    border-radius: 12px;
}

.task-list__right {
    display: flex;
    flex-direction: column;
    max-width: 195px;
    height: 210px;
    padding: 10px;
    background-color: #F6EBEB;
    border-radius: 12px;
}

@media (max-width: 650px) {
    .task-list__right {
        display: none;
    }
}


.task-list__right__top, .task-list__tasks__top {
    width: inherit;
    height: 35px;
    margin: -10px -10px 5px -10px;
    background-color: #E3D7D7;
    border-radius: 12px 12px 0 0;
}

.task-list__tasks__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -10px 0 10px 0;
    padding: 0 10px 0 10px;
}

.task-list__tasks__top__right {
    display: flex;
    align-items: center;
}

.task-list__tasks__top__right > button {
    height: 25px;
    background-color: #F6EBEB;
    margin-left: 10px;
    padding: 0 8px 0 8px;
    border-radius: 100px;
    border: 1px solid #cbc1c1;
    transition: 0.1s;
}

.task-list__tasks__top__right > button:hover {
    transform: scale(1.2);
    background-color: #ecdfdf;
    transition: 0.1s;
}

.task {
    margin: 0 10px 20px 10px;
    padding: 10px;
    background-color: #E3D7D7;
    border-radius: 12px;
}

.task > p, .task__header__right > p {
    font-size: 14px;
    color: #5e5c5c;
}

.task > p {
    max-width: 90%;
}

.task__header {
    display: flex;
    justify-content: space-between;
}

.task__header__right {
    display: flex;
    justify-content: center;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.09);
    border-radius: 100px;
    padding: 0 3px 0 3px;
}

.task__slider {
    width: 10px;
    height: 10px;
    background-color: cyan;
}